.navbar {
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
  color: #1e293b;
}
